doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="author" content=(author || "MengoX"))
    meta(name="keywords" content=(keywords || "MengoX, react, node, koa, website, webpage, js, javascript, html, css"))
    meta(name="description" content=(description || "MengoX"))
    title
      = title || 'MengoX'
    link(rel='stylesheet' href=helpers.assetUrl('base.css'))
    block dynamicCss
    link(href=helpers.assetUrl('static/favicon.png') rel="shortcut icon" type="image/png")
    meta(name="csrf-param" content="_csrf")
    meta(name="csrf-token" content=csrf)
  body
    #spin-loader.spin-loader
    block content
    <!--[if lte IE 8]>
    script.
      document.body.innerHTML = '<div style="position:absolute;height:100%;bottom:0;top:0;left:0;right:0;text-align:center;">' +
                                '<div style="display:table;width:100%;height:100%;">' +
                                '<div style="display:table-cell;vertical-align:middle;">' +
                                '<div style="margin-bottom:20px;">抱歉，您的浏览器实在太旧啦！请升级至IE9以上，或使用Chrome，Safari，360等现代浏览器访问。</div>' +
                                '<div style="margin-bottom:30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sorry, your browser is out of date, please update your browser to at least IE9 or use Chrome, Safari instead.</div>' +
                                '</div>' +
                                '</div>'
                                '</div>';
    <![endif]-->
    <!--[if gt IE 8]>
    script.
      window.__PRELOADED_STATE__ = !{ JSON.stringify(preloadedState) }
    script(src=helpers.assetUrl('react_vendors.js'))
    script(src=helpers.assetUrl('common.js'))
    script(src=helpers.assetUrl('base.js'))
    script(async defer src="https://buttons.github.io/buttons.js")
    block dynamicJsIe
    <![endif]-->
    <!--[if !IE]>-->
    script.
      window.__PRELOADED_STATE__ = !{ JSON.stringify(preloadedState) }
    script(src=helpers.assetUrl('react_vendors.js'))
    script(src=helpers.assetUrl('common.js'))
    script(src=helpers.assetUrl('base.js'))
    script(async defer src="https://buttons.github.io/buttons.js")
    block dynamicJs
    <!--<![endif]-->
